@import url('@import url(https://fonts.googleapis.com/css2?family=Lobster=Nuosu+sil&display=swap');

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    color: #212529;
    text-decoration: none;
    text-align:center;
    padding: 35px
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #6C757D;
    padding: 25px;
}
a {
    color: white;
    padding: 25px
}
.mic-msg h1, .mic-msg h4 {
    text-align: center;
}
.piano-msg h2, .piano-msg h5 { 
    text-align: center;
}
/*.button-box {
    text-align:center; 
}*/
main section {
    text-align: center;
    gap: 0
}
/*main section img {
    box-sizing: border-box;
}*/
#background {
    height: 725px;
    background-color:#6C757D;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color:#6C757D;
    font-family: NuosiSil, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    gap: 0 
}
header {
    background-color: #6C757D;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #212529;
    color: #ADB5BD;
    text-decoration: none;
}
/*.signup, .join {
    margin-bottom: 100px;
    background-color: #ADB5BD;
    color: #6C757D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.signup:hover, .join:hover{
    background-color: #212529;
    color: #6C757D;
}*/
footer {
    background-color: #ADB5BD;
    color: #F8F9FA;
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:  0;
}
.home-title {
    color: #212529;
    font-family: 'Lobster-Regular.ttf', 'NuosuSil-Regular.ttf';
    font-size: 2em;
    margin-top: 10px
}
h4 {
    color:#212529;
}
.piano-img{
    margin-top:-500px;
    gap: 0;
}
.mic-msg p {
    color: #212529;
}
.piano-msg p {
    color:#212529;
}
footer h3 {
    color: #212529;
}
footer a {
    text-decoration: none;
    color:#212529
}
footer a:hover {
    color: #F8F9FA;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px
}
.recording {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}
h1 {
    margin: 50px 0;
}
/* img {
    border: 4px  #F8F9FA;
}*/
footer.social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #microphone, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #microphone {
        margin-top: 0;
    }
    #microphone-msg {
        margin-top: 0;
    }
    #microphone-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}